<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A390BEA41F70AF9600C62FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A390BEB51F70AF9600C62FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A390BEC01F70AF9600C62FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
